@let(buttonTextFromSlot = await $slots.main())
@let(buttonText = buttonTextFromSlot.trim() ? buttonTextFromSlot : ($props.get('text') ?? ''))
@let(classes = [])

<button
  style="{{ $props.get('style') ?? '' }}"
  {{ $props.except(['text']).merge({ class: classes }).toAttrs() }}
>
  {{{ buttonText }}}
</button>
