<div class="sciezka-app">
  <nav class="sidenav">
    <a style="font-size: 18px" href="/admin/edit_task/new" class="{{ $props.get('page') === 'Nowe zadanie' ? 'bold' : 'medium' }} topic">Nowe zadanie</a>
  </nav>

  <div class="content">
    {{{ await $slots.main() }}}
  </div>
</div>
