# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY= # node ace generate:key
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# Database
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
#DB_PASSWORD=replaceme
DB_DATABASE=oki_tutorial

# Feature flags
VITE_FEATURE_ANIMATE_PATH_CHANGES=false
VITE_FEATURE_DARK_MODE=false
VITE_FEATURE_LINK_TO_ZAJECIA=true

# Umami
UMAMI_URL=
UMAMI_WEBSITE_ID=

# Szkopul API features
SZKOPUL_ENABLED=true

SQL_CONSOLE_WRITES=1

# Formularz kontaktowy (arkusz odpowiedzi opublikowany jako CSV)
KONTAKT_CSV_URL=
