@layout({ title: 'Rejestracja' })
  <div class="form-container">
    <h1>
      Rejestracja
    </h1>
    <br />
    <div style="max-width: 90vw; min-width: 50vw;">
      <div class="vw90">
        <h3>
          Konto nie jest do niczego potrzebne
        </h3>
        <span >
          Wszystko działa bez logowania. Konto daje tylko dwie rzeczy: powiązanie Szkopuła z kontem (we wszystkich przeglądarkach) oraz dostęp do panelu admina, jeśli masz uprawnienia.
          Nie wysyłamy żadnych maili (możesz wpisać wymyślony adres), a Szkopuła możesz połączyć bez logowania <a style="color: var(--brand)" href="/konto">tutaj</a>.
        </span>
        <br />
        <br />
      </div>

      @form({ route: 'new_account.store', method: 'POST' })
        <div>
          @field.root({ name: 'fullName' })
            @!field.label({ text: 'Imię i nazwisko' })
            @!input.control()
            @!field.error()
          @end
        </div>

        <div>
          @field.root({ name: 'email' })
            @!field.label({ text: 'Email' })
            @!input.control({ type: 'email', autocomplete: 'email' })
            @!field.error()
          @end
        </div>

        <div>
          @field.root({ name: 'password' })
            @!field.label({ text: 'Hasło' })
            @!input.control({ type: 'password', autocomplete: 'new-password' })
            @!field.error()
          @end
        </div>

        <div>
          @field.root({ name: 'passwordConfirmation' })
            @!field.label({ text: 'Potwierdź hasło' })
            @!input.control({ type: 'password', autocomplete: 'new-password' })
            @!field.error()
          @end
        </div>

        <div>
          @!button({ text: 'Zarejestruj się', type: 'submit' })
        </div>
      @end
    </div>
    <br />
    @!link({ text: 'Zaloguj się', route: 'session.create' })
  </div>

  <div style="background: #efefef; text-align: center; font-size: 12px; padding: 3px;">
    build
    <code>{{ appVersion }}</code>
    @if(appVersionAge())
      <span>({{ appVersionAge() }})</span>
    @end
  </div>
@end
