@let(content = await $slots.main())
@let(title = $props.get('title'))

<div class="tasks_box standalone" x-data="{ open: false }">
  <button class="toggle" @click="open = !open">
    <span class="task_box_arrow" :class="{ open }">▶</span>
    <h3 class="bold">{{{ title }}}</h3>
  </button>
  <div class="box" :class="{ open }">
    <div class="box_inner">
      {{{ content }}}
    </div>
  </div>
</div>
