@let(content = await $slots.main())
@let(title = $props.get('title'))

<div class="tasks-box standalone" x-data="expandable">
  <button class="toggle" data-toggle @click="open = !open">
    <span class="box-arrow" :class="{ open }">▶</span>
    <h3 class="bold">{{{ title }}}</h3>
  </button>
  <div class="box" :class="{ open }">
    <div class="box-inner">
      {{{ content }}}
    </div>
  </div>
</div>
