@let(zadanie = $props.get('zadanie'))
@let(dodatkowe = $props.get('dodatkowe'))
@let(odznaka = await odznakaWyniku($props.get('wynik')))

<div class="task-box" x-data="expandable" data-track-zadanie="{{ zadanie.nazwa }}">
  <div
    class="toggle"
    role="button"
    tabindex="0"
    data-track="zadanie-otwarte"
    :aria-expanded="open.toString()"
    @click="open = !open"
    @keydown.enter.prevent="open = !open"
    @keydown.space.prevent="open = !open"
  >
    <div class="toggle-left">
      <span class="box-arrow" :class="{ open }"></span>
      <h3 class="medium">
        @if(dodatkowe)
          <span class="dodatkowe-tag">Dodatkowe:</span>
        @end
        @if(zadanie.linkTresc)
          <a
            href="{{ zadanie.linkTresc }}"
            target="_blank"
            rel="noopener"
            data-track="zadanie-tresc"
            @click.stop
          >
            {{ zadanie.nazwa }}
          </a>
        @else
          {{ zadanie.nazwa }}
        @end
      </h3>
      <a
        href="{{ zadanie.urlWyslij }}"
        class="task-action task-action-sm"
        target="_blank"
        rel="noopener"
        data-track="zadanie-wyslij"
        @click.stop
      >
        Wyślij
        <img src="/icons/i_send.svg" alt="" />
      </a>
      @if(odznaka)
        <span class="wynik-badge {{ odznaka.klasa }}" title="{{ odznaka.tytul }}">
          {{ odznaka.tekst }}
        </span>
      @end
    </div>
    <span
      class="toggle-right"
      style="color: {{ zadanie.poziomuTrudnosci
          ? zadanie.poziomuTrudnosci.color
          : 'var(--text)' }}"
    >
      {{ zadanie.poziomuTrudnosci ? zadanie.poziomuTrudnosci.rozwiniecie : '' }}
    </span>
  </div>
  <div class="box" :class="{ open }">
    <div class="box-inner">
      @if(auth.user && auth.user.canAccessAdmin)
        @!adminBox({
          id: zadanie.idZadania,
          autor: zadanie.autor ? zadanie.autor.fullName || zadanie.autor.email : null,
          dodano: zadanie.createdAt,
          edytowano: zadanie.updatedAt,
          href:
            auth.user.canEditAllContent || zadanie.idAutora === auth.user.id
              ? '/admin/edit_task/' + zadanie.idZadania
              : null,
        })
      @end
      
      @if(zadanie.urlWyslij && false)
        <a href="{{ zadanie.urlWyslij }}" class="task-action" target="_blank" rel="noopener">
          <img src="/icons/i_send.svg" alt="" />
          Wyślij w konkursie
        </a>
      @end
      @if(zadanie.hint)
        <button
          class="task-action underlinable"
          @click.stop="$store.modal.show('Hint', $el.dataset.hint)"
          data-hint="{{ zadanie.hint }}"
          data-track="zadanie-hint"
        >
          <img src="/icons/i_hint.svg" alt="" />
          <span style="color: var(--text-inverted)" class="underlinable">Hint</span>
        </button>
      @end
      @if(zadanie.linkOmowienieVid)
        <a
          href="{{ zadanie.linkOmowienieVid }}"
          class="task-action"
          target="_blank"
          rel="noopener"
          data-track="zadanie-omowienie-wideo"
        >
          <img src="/icons/i_vid.svg" alt="" />
          Omówienie
        </a>
      @end
      @if(zadanie.omowienieText)
        <button
          class="task-action underlinable"
          @click.stop="$store.modal.show('Omówienie', $el.dataset.omowienie)"
          data-omowienie="{{ zadanie.omowienieText }}"
          data-track="zadanie-omowienie"
        >
          <img src="/icons/i_note.svg" alt="" />
          <span style="color: var(--text-inverted)" class="underlinable">Omówienie</span>
        </button>
      @end
      @if(zadanie.kodCpp)
        <button
          class="task-action underlinable"
          @click.stop="$store.modal.show('Kod C++', $el.dataset.code, 'cpp')"
          data-code="{{ zadanie.kodCpp }}"
          data-track="zadanie-kod-cpp"
        >
          <img src="/icons/i_code.svg" alt="" />
          <span style="color: var(--text-inverted)" class="underlinable">Kod C++</span>
        </button>
      @end
      @if(zadanie.kodPython)
        <button
          class="task-action underlinable"
          @click.stop="$store.modal.show('Kod Python', $el.dataset.code, 'python')"
          data-code="{{ zadanie.kodPython }}"
          data-track="zadanie-kod-python"
        >
          <img src="/icons/i_code.svg" alt="" />
          <span style="color: var(--text-inverted)" class="underlinable">Kod Python</span>
        </button>
      @end
    </div>
  </div>
</div>
