:root {
  --font-brand: "Quicksand"; /* font-family: var(--font-brand), sans-serif; */
  --font-quicksand: "Quicksand"; /* font-family: var(--font-quicksand), sans-serif; */
  --font-mono: "JetBrains Mono"; /* font-family: var(--font-brand), monospace; */

  --oki-gray: oklch(0.556 0 0);
  --oki-yellow: oklch(0.904 0.153 95.162);

  --brand: oklch(0.679 0.213 36.5);
  --brand-hovered: oklch(0.639 0.220 36.5);
  --brand-lighter: oklch(0.923 0.045 36.5);
  --brand-lighter-hovered: oklch(0.882 0.070 36.5);

  --background: oklch(1 0 0);
  --background-darker: oklch(0.967 0 0);

  --text: oklch(0 0 0);
  --text-secondary: oklch(0.457 0 0);
  --text-inverted: oklch(1 0 0);

  --easy: oklch(0.447 0.119 151.405);
  --medium: oklch(0.714 0.15 75.507);
  --hard: oklch(0.509 0.179 34.516);
}
