@!errorPage({
  znak: '404',
  tytulStrony: 'Nie ma takiej strony',
  tytul: 'Nie ma takiej strony',
  opis: 'Sprawdź adres. Możliwe, że materiał został przeniesiony albo jeszcze go nie opublikowaliśmy.'
})
