@layout({ title: 'Admin' })
  <div class="admin-page">
    <h1>admin panel</h1>
    <ul>
      <li><a href="/admin/edit_task/new">+ Dodaj nowe zadanie</a></li>
      <li><a href="/lista_zadan">Lista zadań</a></li>
    </ul>
  </div>
@end
