@layout({ title: 'Przerwa techniczna', noAlerts: true })
  <div class="form-container" style="text-align: center">
    <h1>Przerwa techniczna</h1>
    <p>Pracujemy właśnie nad stroną. Wróć do nas za chwilę!</p>
  </div>
@end
